# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron & Builds
build/
dist/
release/
out/
*.dmg
*.exe

# App Specific
app/static/*.png
app/static/*.jpg
app/static/*.pdf
settings.json
whitelist.json
*.log
.DS_Store

# IDEs
.vscode/
.idea/
.gemini/
brain/
